@use '../../../shared/styles/colors' as *;

.category-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.social-icon-large {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $overlay-cream;
  color: $bakery-cream;
  transition: all 0.3s ease;

  &:hover {
    background-color: $bakery-gold;
    color: $bakery-brown;
    transform: translateY(-2px);
  }
}