@use '../../styles/colors' as *;

.card {
  background-color: $white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px $shadow-brown-medium, 0 2px 4px -1px $shadow-brown-light;
  transition: all 0.3s ease;
  overflow: hidden;
}

.card-hoverable {
  &:hover {
    box-shadow: 0 10px 15px -3px $shadow-brown-dark, 0 4px 6px -2px $shadow-brown-medium;
    transform: translateY(-4px);
  }
}

.card-padding-sm {
  padding: 1rem;
}

.card-padding-md {
  padding: 1.5rem;
}

.card-padding-lg {
  padding: 2rem;
}